<!DOCTYPE html>
<html lang="en">
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117192141-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-117192141-1');
</script>

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Per Welander</title>
  <meta name="Per Welander" content="">
  <meta name="Per Welander" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/custom.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="favicon.png">

  <!-- Functionality
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/client.js"></script>

</head>
<body onload="manageSubscriptionEventListeners()">

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">


    <section class="header">
      <h2 class="title">Surfvarning</h2>
      <p>Manage subscription</p>
    </section>

  <div class="docs-section">
    <div class="container" id="formcontainer">
    </div>
    <div class="container">
      <form id="manageSubscriptionForm">
      <p>Enter email to remove subscription.</p>
        <div class="row">
          <div class="six columns">
            <label for="emailInput">Your email</label>
            <input class="u-full-width" type="email" placeholder="example@email.com" id="emailInput" name="emailInput" required>
          </div>
          <div class="six columns">
            <label for="recipientInput">Notifactions for</label>
            <select class="u-full-width" id="recipientInput" name="recipientInput">
              <option value="Apelviken">Apelviken</option>
              <option value="Kosa">Kosa</option>
              <option value="Fästningen">Fästningen</option>
            </select>
          </div>
        </div>
        <button class="button" type="submit">Request</button>
      </form>
    </div>
  </div>


  </div>

<script>
  console.log("Hi, how you doing? :)");
</script>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
